<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />

    <form action="/users/add">
        First name:<br/>
        <input type="text" name="firstname" /><br/>
        Last name:<br/>
        <input type="text" name="lastname" /><br/>
        Last email:<br/>
        <input type="text" name="email" /><br/>
        Last age:<br/>
        <input type="text" name="age" />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>