<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="webjars/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen"> </link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> </link>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/" th:text="#{start}">Start</a></li>
                <li class="active"><a href="/news" th:text="#{news}">Aktualności</a></li>
                <li><a href="#" th:text="#{zone.student}">Strefa studenta</a></li>
                <li><a href="#" th:text="#{zone.teacher}">Strefa nauczyciela</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="signup.html" th:text="#{sing.up}"><span class="glyphicon glyphicon-education"></span> Sign Up</a></li>
                <li><a href="#" th:text="#{log.in}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <p><a href="#" th:text="#{admin.panel}">Panel administratora</a></p>
        </div>
        <div class="col-sm-8 text-left">
            <h2>Wyklad ekspercki</h2>
            <p> Wykład ekspercki - Robotic Process Automation – Software Robotics
                <br/>


                W dniu  31 maja br. (środa) odbędzie się wykład ekspercki.<br/>
                Wykład odbędzie się w Centrum Technologii Informatycznych Politechniki Łódzkiej (CTI, budynek B19, sala kinowa na parterze).
                Rozpoczęcie o  godzinie 15.15.<br/>

                Robotic Process Automation – Software Robotics<br/>

                31 maja<br/>

                RPA (Robotic Process Automation) is one of the leading technologies to carry out knowledge work and process automation, speeding up the digital transformation. With the help of RPA organisations are able to create a new kind of workforce, a virtual workforce.
                <br/>
                The lecturer is Niko Lehtonen (Finland). In this lecture your will hear directly from one of the leading RPA Companies in the Northern Central Europe, Digital Workforce, about:
                <br/>
                <ul>
            <li>What is Robotic Process Automation?</li>
            A glimpse into where RPA has come from and what exactly it is
            <li>RPA vs. AI</li>
            What are the differences?
            <li>Where to Use RPA?</li>
            What kind of processes are suitable for RPA?
            <li>How to Learn More?</li>
            <li>Short demo and build a simple robot</li>
                </ul>



                W imieniu dr. Przemysława Sękalskiego<br/>
                Serdecznie zapraszamy!<br/>

                Wykłady mają charakter otwarty.<br/>
            </p>

            <h2>Informacje dotyczące bloków obieralnych</h2>
                <p>Szanowni Państwo,<br/>
                    w imieniu dyrektora Instytutu Mechatroniki i Systemów Informatycznych <br/>
                    przesyłam link do prezentacji bloków obieralnych realizowanych przez Instytut Mechatroniki i Systemów Informatycznych<br/>
                    na studiach II stopnia kierunku Informatyka.<br/>

                    Bloki obieralne wraz z przedmiotami realizowanymi w ramach bloku:<br/>
            <ul>
                <li>Inteligentne bazy danych
                    <ul>
                        <li> Technologie XML w bazach danych</li>
                        <li>Zaawansowane programowanie aplikacji bazodanowych</li>
                    </ul>
                </li>

                <li>Systemy analizy i przetwarzania danych
                    <ul>
                        <li>Wymiana danych w usługach internetowych</li>
                        <li>Business Intelligence</li>
                    </ul>
                </li>
                <li>Inteligentne systemy ekspertowe
                    <ul>
                        <li> Programowanie inteligentnych systemów ekspertowych</li>
                        <li>Zaawansowane technologie Oracle</li>
                    </ul>
                </li>
            </ul></p>
            <hr />
        </div>
        <!--<div class="col-sm-2 sidenav">-->
        <!--<div class="well">-->
        <!--<p>ADS</p>-->
        <!--</div>-->
        <!--<div class="well">-->
        <!--<p>ADS</p>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>

<footer class="container-fluid text-right">
    <p>&copy;</p><p th:text="#{footer}">copyright 2017 all rights reserved  |  powered by Spring Boot</p>
</footer>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
