<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="webjars/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen"> </link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> </link>

    <script src='https://www.google.com/recaptcha/api.js'></script>

</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/" th:text="#{start}">Start</a></li>
                <li><a href="/news" th:text="#{news}">Aktualności</a></li>
                <li><a href="/student" th:text="#{zone.student}">Strefa studenta</a></li>
                <li><a href="/teacher" th:text="#{zone.teacher}">Strefa nauczyciela</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="?lang=pl"><img src="/images/pl.png" alt="PL" /></a></li>
                <li><a href="?lang=en"><img src="/images/en.png" alt="EN" /></a></li>
                <li class="active"><a href="/signup.html" th:text="#{sing.up}"><span class="glyphicon glyphicon-education"></span> Sign Up</a></li>
                <li><a href="/login.html" th:text="#{log.in}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<form action="/users/add" method="post">

    <div class="container">
        <h2 th:text="#{registration}">Registration</h2>
        <table class="table table-condensed">
            <thead>
            <tr>
                <td>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" th:text="#{first.name}"><font color="red"><b>*</b></font> First Name</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="firstname" required="required" />
                                <!--<p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Error message</p>-->
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" th:text="#{last.name}"><font color="red"><b>*</b></font> Last Name</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" name="lastname" required="required" />
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" th:text="#{email.adress}"><font color="red"><b>*</b></font> Email</label>
                            <div class="col-sm-6">
                                <input type="email" class="form-control" name="email" required="required" />
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" th:text="#{birth.date}"><font color="red"><b>*</b></font> Birth Date</label>
                            <div class="col-sm-6">
                                <input type="date" pattern="\d{1,2}-\d{1,2}-\d{4}" class="form-control" th:placeholder="#{date.placeholder}" name="birthdate" required="required"/>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" th:text="#{password}"><font color="red"><b>*</b></font> Password</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" name="password" required="required" />
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-default row" th:text="#{submit}">Submit</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </thead>
        </table>
    </div>

</form>





<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
