<!DOCTYPE html>
<html th:with="lang=${#locale.language}" th:lang="${lang}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="webjars/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen"> </link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> </link>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/" th:text="#{start}">Start</a></li>
                <li><a href="/news" th:text="#{news}">Aktualności</a></li>
                <li><a href="#" th:text="#{zone.student}">Strefa studenta</a></li>
                <li><a href="#" th:text="#{zone.teacher}">Strefa nauczyciela</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="signup.html" th:text="#{sing.up}"><span class="glyphicon glyphicon-education"></span> Sign Up</a></li>
                <li><a href="#" th:text="#{log.in}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-left">


    <!-- Here place for a form to create user.-->

        <form action="users/add">
            <div class="form-group">
                <label>First Name:</label>
                <input type="text" class="form-control" placeholder="Enter your first name" name="firstname" />
            </div>
            <div class="form-group">
                <label>Last Name:</label>
                <input type="text" class="form-control" placeholder="Enter your last name" name="lastname"  />
            </div>
            <div class="form-group">
                <label>Email address:</label>
                <input type="email" class="form-control" placeholder="Enter your e-mail" name="email" />
            </div>
            <div class="form-group">
                <label>Date of birth:</label>
                <input type="text" class="form-control" placeholder="Enter your birth date" name="birthdate"  />
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" class="form-control" placeholder="Enter your password" name="password" />
            </div>
            <div class="checkbox">
                <label><input type="checkbox" /> Active</label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>



</div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
